h1{
    text-align:center;
    font-family: algerian;
    color:magenta;
    font-style:italic;
}
.main-div{
    display:grid;
    margin: 10px;
    height: 500px;
    border:5px solid red;
    /* grid-template-columns:50px 50px 50px 50px; 
    grid-template-rows: 50px 50px 50px 50px;  */
    grid-template-columns:repeat(3,1fr);
    /* gap:1rem; */
    /* place-items: center; */
}
.flex-div{
    border: 1px solid black;
    text-align: center;
}
.grid-main{
    list-style-type:none;
    background-color: gold;
    padding:10px;
    margin:0px;
    display:grid;
    grid-template-rows: 50px 300px 50px; 
    grid-template-areas:
    "head head head head" 
    "side main main main" 
    
    "footer footer footer footer" ;
}
li{
    list-style-type:numbering;
}
.header{
    background-color:magenta;
    grid-area: head;
}
.sidebar{
    background-color: brown;
    grid-area: side;
    
}
.footer{
    background-color: forestgreen;
    grid-area: footer;
}
.main{
    background-color: dodgerblue;
    grid-area: main;
}