h1{
    font-family: algerian;
    text-align: center;
    
}

li{
    list-style-type: none;
 font-family:'Times New Roman', Times, serif;
 padding-top: 5vh;
 padding-bottom: 20vh;
 text-align:center;
}

a{
    color:red;
}
button{
    background-color:yellow;
    font-weight: bolder;
    border-radius:10px;
    width: 7em;
   height: 2em;
   font-size: 2rem;
   overflow: auto;
    

}
button:hover{
    background-color:goldenrod;
}

.overflow-main{
    border: 5px solid red;
     width: 300px; 
    height: 300px;
    background-color: orange;
    text-align: justify;
    font-style:italic;
    font-size: 2em;
    /*

    -webkit-scrollbar :none;

    display:none 
    this dosent gives space for the content selected for the particular content.

       visibility: hidden; 
this gives space for the content selected for the particular contentand if we add any content 
that content visible after that space of the content hidden.

    overflow visible:
    visible is default value the content will be visible
     even after the size limit */

    /* overflow: hidden; */

    /* hidden is value the content will be  not visible
     even after the size limit */

     /* overflow: scroll; */
     /* scroll is value the content will be  not visible but it has a scrollbar
     even after the size limit */

     overflow: auto;

     /* auto is a value but uses the all propertie values of overflow */

     /* overflow-x: auto;
     overflow-y: auto; */
}

/* measurements:
cm,mm,inch

1 inch=96px;
px = 1/96 inch
em =relative to the font size of an element
rem =root of the element size
vh =over the view content (v) h-height
vw = over the view content (w) w-width
viewport
% = reference-[parents] /root parent element
*/


























