/* h1{
    color:rgb(42, 165, 73);
} */
/* div{
    color:red;
    text-align:left;
    font-size: 25px;
    
} */
body{
    padding-right:10px;
    margin:0px;
    position:relative; 
    background-color: aqua;
   
}
html{
    scroll-behavior: smooth;
}

ul{
   /* list-style-type:none;  */
    
  
   font-size: large;
   font-weight:lighter;
   font-family:algerian;
   font-style:italic;
   /* background-color: aqua       ;                            */
}
li{
    display: inline-block;
     padding-right: 5px; 
    background-color:violet;
    border :5px solid red;  
     border-style:double;
    border-top-left-radius:0px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:0px ;
    
}
nav{
  
   width:100%; 
   border: 5px solid blue;
    position:fixed;  
   /* padding:10px; */
    top:0;   
   /* bottom:0px;  */
   /* right:0px; */
   /* left:0; */
    
      
   /* bottom:none; */
   
    background-color:black; 
    text-align:right; 
   
}

main{
    text-align:center;
    margin:100px;
    /* width: 100%; */
    padding:5px
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian; 
    font-style:italic;
    background-color:linear-gradient(yellow,green);
    background-color:aqua; */
}

/* dot symbol used infront of contents or any name given */


.content-body{
    text-align: center;
    border: 5px solid #ff0000 ;
    font-size: larger;
    font-family:algerian;
    padding: 50px;
    margin: 5px;
    font-weight:bolder;
    background-color: aquamarine;
    border-radius: 10px;
    background-image:
    repeating-radial-gradient(red 20%,orange 30%,white);
}

.heading{
    /* text-align: center; */
    
    font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic;
    border-radius:10px

}



#home{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color: blue;
    padding: 10px;
    background-color:magenta;
    background-image:repeating-conic-gradient(red 20%, magenta 20%,orange 30%);
    border: 5px solid red ;

}
#About{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color:red;
    background-color:darkmagenta;


    border: 5px solid black ;
}
#skills{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color:midnightblue;
    background-color:darkmagenta;
    border: 5px solid black ;
}
#Projects{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color:rgb(7, 7, 7);
    background-color:darkmagenta;
    border: 5px solid black ;
    background-image:repeating-radial-gradient(red,orange,blue);
}
#Contact{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color:greenyellow;
    background-color:darkmagenta;
    border: 5px solid black ;
}
#Feedback{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color:orangered;
    background-color:darkmagenta;
    border: 5px solid black ;
}

/* this below code for another class declaring */
.Projects-class{
    border:5px solid blue;
    color:green;
    background-color: blue;

}
span{
    display: inline-block;
    border: 5px solid;
    padding: 10px;
    width: 200px;
    height: 200px;
    color: chartreuse;
    background-color: coral;
}

section{
    padding: 5px; 
    height: 150vh;
 
    border: 10px solid brown;
    border-radius: 5px;
    background-image:linear-gradient(yellow,green);
    
}

/* this below link is used to unvisited the page and 
it highlight in brown or what color we give on that folder */
a:link{
color:brown;
}
a:visited{
    color:black
}
a:hover{
    color:whitesmoke;
    font-size:large;
}
a:active{
    color: green;
}
#position{
    border: 3px solid black;
    margin: 0px;
    height: 500px;
    padding:5px;
    background-image: radial-gradient(blue 20%,magenta 10%, orange 40%,black);
    
}
.box{
    border: 5px solid red;
    width: 100px;
    height: 100px;
    


}
#absolute:hover{
border: 5px solid blue;
border-image:linear-gradient(magenta,orange);



}
#relative:hover{
    border: 5px solid white; 
   

}

#fixed:hover{
    border: 5px solid orange ; 
}

#sticky:hover{
    border: 5px solid aqua; 
}
#absolute{
    background-image:linear-gradient(blue,orange) ;
    /* position:absolute;
    left: none;
    bottom: 0px;
    top: 0px;
    right: 0px; */
 }
#relative{
    background-image:linear-gradient(magenta,orange) ;
    /* position: relative;
    left: 100px;
    bottom: 20px;
    top: 40px; */
}
#fixed{
    background-image:linear-gradient(blue,aquamarine) ;
    /* position:fixed;
    left: 0px;
    bottom: 20px;
    top: 600px; */
}
#sticky{
    background-image:linear-gradient(black,violet) ;  
    /* position:sticky;
    left:0px;
    bottom:0px;
    top:0px;  */
 } 




