h1{
    color:rgb(42, 165, 73);
}
/* div{
    color:red;
    text-align:left;
    font-size: 25px;
    
} */

ul{
   list-style-type:none; 
   padding:5px;
   font-size: large;
   font-weight:bolder;
   font-family:algerian;
   font-style:italic;
   background-color: aqua;
}
li{
    display: inline-block;
    padding: 5px;
    
    color:black;

    background-color:violet;
    border-radius :2px;
    border-style:double;
    border-top-left-radius:0px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:0px ;
    

}
nav{
    border: 5px solid red;
    
    border-radius: 10px;
    background-color: blue;
    text-align:right;
}
body{
    padding: 10px;
    border: 5px solid black;
    
}

main{
    /* text-align: center;
    margin: 100px;
    font-size: larger;
    font-weight:bolder;
    font-family:algerian; */
    font-style:italic;
    /* background-color:linear-gradient(yellowgreen); */
    /* background-color:aqua; */
}
/* dot symbol used infront of contents or any name given */

.content-body{
    text-align: center;
    border: 5px solid blue;
    font-size: larger;
    font-family:algerian;
    padding: 50px;
    margin: 10px;
    font-weight:bolder;
    background-color: aquamarine;
    border-radius: 10px;
}
.heading{
    text-align: center;
    margin: 10px;
    font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic;
    border-radius:10px

}


#home{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color: blue;
    padding: 10px;
    background-color:magenta;
    border: 5px solid black ;

}
#About{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color:red;
    background-color:darkmagenta;
    border: 5px solid black ;
}
#skills{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color:midnightblue;
    background-color:darkmagenta;
    border: 5px solid black ;
}
#Projects{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color:rgb(26, 255, 0);
    background-color:darkmagenta;
    border: 5px solid black ;
}
#Contact{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color:greenyellow;
    background-color:darkmagenta;
    border: 5px solid black ;
}
#Feedback{
    /* font-size: larger;
    font-weight:bolder;
    font-family:algerian;
    font-style:italic; */
    color:orangered;
    background-color:darkmagenta;
    border: 5px solid black ;
}

/* this below code for another class declaring */
.projects-class{
    color:red;
    background-color: blue;

}
span{
    display: inline-block;
    border: 5px solid red;
    padding: 10px;
    width: 200px;
    height: 200px;
    color: chartreuse;
    background-color: coral;
}
section{
    height: 100vh;
    border: 10px solid red;
    border-radius: 4px;
    background-image:linear-gradient(yellow,green);
    
}
/* this below link is used to unvisited the page and 
it highlight in brown or what color we give on that folder */
a:link{
color:brown;
}
a:visited{
    color:black
}
a:hover{
    color:blue;
    font-size: larger;
}
a:active{
    color: green;
}







